<?xml version="1.0" encoding="UTF-8"?>
<!-- -->
<config>
	<modules>
		<Rugento_Multistock>
			<version>1.0.2</version>
		</Rugento_Multistock>
	</modules>
	<global>
		<models>
			<multistock>
				<class>Rugento_Multistock_Model</class>
				<resourceModel>multistock_resource</resourceModel>
			</multistock>
			<multistock_resource>
				<class>Rugento_Multistock_Model_Resource</class>
				<entities>
					<multistock>
						<table>cml2_multistock</table>
					</multistock>
				</entities>
			</multistock_resource>
			<cataloginventory>
				<rewrite>
					<stock>Rugento_Multistock_Model_Stock</stock>
					<stock_item>Rugento_Multistock_Model_Stock_Item</stock_item>
				</rewrite>
			</cataloginventory>
			<cataloginventory_resource>
				<rewrite>
					<stock>Rugento_Multistock_Model_Resource_Stock</stock>
					<stock_item_collection>Rugento_Multistock_Model_Resource_Stock_Item_Collection</stock_item_collection>
					<stock_item>Rugento_Multistock_Model_Resource_Stock_Item</stock_item>
				</rewrite>
			</cataloginventory_resource>
		</models>
		<blocks>
			<multistock>
				<class>Rugento_Multistock_Block</class>
			</multistock>
		</blocks>
		<helpers>
			<multistock>
				<class>Rugento_Multistock_Helper</class>
			</multistock>
		</helpers>
		<resources>
			<multistock_setup>
				<setup>
					<module>Rugento_Multistock</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</multistock_setup>
		</resources>
		<events>
			<prepare_catalog_product_index_select>
				<observers>
					<multistock_price_index>
						<class>multistock/observer</class>
						<method>prepareCatalogProductIndexSelect</method>
					</multistock_price_index>
				</observers>
			</prepare_catalog_product_index_select>
			<cml2_stock_before_processing>
				<observers>
					<cml2_stock_before_processing>
						<class>multistock/observer</class>
						<method>multiStock</method>
					</cml2_stock_before_processing>
				</observers>
			</cml2_stock_before_processing>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<multistock module="multistock">
					<file>multistock/multistock.xml</file>
				</multistock>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<multistock>
					<file>multistock/multistock.xml</file>
				</multistock>
			</updates>
		</layout>
		<menu>
			<catalog translate="title" module="catalog">
				<children>
					<multistock translate="title" module="multistock">
						<title>Multi Stock</title>
						<sort_order>100</sort_order>
						<children>
							<stocks translate="title" module="multistock">
								<title>Stocks</title>
								<action>multistock/adminhtml_multistock/index</action>
								<sort_order>100</sort_order>
							</stocks>
						</children>
					</multistock>
				</children>
			</catalog>
		</menu>
	</adminhtml>
	<admin>
		<routers>
			<multistock>
				<use>admin</use>
				<args>
					<module>Rugento_Multistock</module>
					<frontName>multistock</frontName>
				</args>
			</multistock>
		</routers>
	</admin>
</config>